<%- include('partials/header.ejs') %>
<div class="page-container">
    <div class="content-wrap">
        <a class="back-btn" href="/"><-- Return</a>
        <div class="container-book-notes">
            <div class="col-span-3 book-title">
                <h2><%= book.title %></h2>
                <h3><%= book.author %></h3>
            </div>
            
            <% if (book.cover_id) { %>
                <img class="book-cover" src="https://covers.openlibrary.org/b/olid/<%= book.cover_id %>-M.jpg"/>
                <% } else {%>
                <img class="book-cover" src="/assets/icons/no-image-50.png"/>
            <% } %>
            
            <div class="col-span-2">
                <% if (locals.notes ) { %>
                    <ul class="note-list">
                        <% notes.forEach(note =>{ %>
                            <li class="list-item note-box">
                                <p id="note<%= note.id %>"><%= note.note_content %></p>
                                <div>
                                    <form class="edit" action="/note/edit/<%= book.id %>" method="post">
                                        <input type="hidden" name="updatedNoteId" value="<%= note.id %>"/>
                                        <input id="input<%= note.id %>" type="text" name="updatedNoteContent" value="<%= note.note_content %>" autocomplete="off"
                                            autofocus="true" hidden="true" />
                                        <button id="done<%=note.id%>" class="edit" type="submit" hidden><img class="icon"
                                            src="/assets/icons/check-solid.svg" alt="tick image"></button>
                                    </form>
                                    <button id="edit<%= note.id %>" class="edit"  onclick="handler('<%=note.id%>')">
                                        <img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image">
                                        <label style="font-size: 15px;"for="edit<%= note.id %>">Edit</label>
                                    </button>
                                    <form action="/note/delete/<%= book.id %>" method="post">
                                        <input type="checkbox" onchange="this.form.submit()" name="deleteNoteId" value="<%= note.id %>">
                                        <label style="font-size: 15px;"for=<%= note.id%>>Delete</label>
                                    </form>
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                <% } else { %>
                    <p>No notes yet!</p>
                <% } %>
                <form class="add-notes-container" action="note/add" method="post">
                    <textarea class="text-form" name="noteContent" placeholder="write your new note on the book" required="true"></textarea>
                    <button class="add-btn" type="submit" name="bookId" value=<%= book.id %>>Add New Note</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function handler(id) {
        document.getElementById("note" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
</script>
<%- include('partials/footer.ejs') %>
